<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css"></link>
    <link rel="stylesheet" href="/static/style.css" type="text/css"></link>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <br/>
    <section>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for msg in messages %}
      <section>
        {{msg}}
      </section>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </section>
    <section>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
